*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Ajustes de fondo*/
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}

/*Caja central*/
.box{
    position: relative;
    right: -3%;
    width: 400px;
    /* width: 640px; */
    height: 680px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
/* Primera linea de color */
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 680px;
    background: linear-gradient(0deg, transparent, #45f3ffb1, #45f3ffb1);
    transform-origin: bottom right;
    animation: animate 40s linear infinite;
}
/* Segunda linea de color */
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 680px;
   /*  width: 380px;
    height: 420px; */
    background: linear-gradient(0deg, transparent, #45f3ffb1, #45f3ffb1);/* 45f3ff */
    transform-origin: bottom right;
    animation: animate 40s linear infinite;
    animation-delay: -20s;
}
/* rotacion del cubo */
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*Color del formulario*/
.form{
    position: absolute;
    /* para que se vea la linea mas gruesa subir el numero ⬇*/
    inset: 2px;
    background: #28292d;
    border-radius: 8px;
    z-index: 10;
    /* ⬇ Centramos todo el contenido del formulario*/
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
/* cabecera */
.form h2{
    color: #45f3ff;
    width: 300px;
    font-family: Verdana;
    font-weight: 500;
    text-align: center;
}

.formBox{
    width: 310px;
    height: 515px;
}

/* cajas de texto */
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span
{
    /* font-family: Verdana; */
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #45f3ff;
    transform: translateX(-0px) translateY(-34px);
    font-size: 0.75em;
}
/* movimiento de cajas */
.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff9e;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
    height: 44px;
}

.links{
    position: absolute;
    top: 603px;
    display: flex;
    justify-content: left;
    color: #45f3ffa6;
}

.links input{
    margin-right: 3px;
    margin-top: 2px;
    font-size: 0.75em;
    text-decoration: none;
    
}

.links span
{
    margin-top: 1%;
    /* color: #45f3ff; */
}

.finalbuttoms{
    display: flex;
    justify-content: left;
}
.reset{
    margin-left: 20px;
}

button[type="submit"]{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

/* opacidad al clikcar */
button[type="submit"]:active{
    opacity: 0.8;
}


button[type="button"]{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

/* opacidad al clikcar */
button[type="button"]:active{
    opacity: 0.8;
}

.errorForm{
    color: #f00606;
}

/*limpamos todo el selec para luego darle estilo y color*/
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select{
	position: relative;
	max-width: 164px;
    top: 14px;
    margin-bottom: 10px;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #45f3ff9e;
	color: #0c0c0c;
	font-size: 1em;
	color: #0c0c0c;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
/* 
Creamos la flecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
    left: 128px;
	right: 20px;
    top: 23px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #f1a708e6;
	border-bottom:4px solid #f1a708e6;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.payBox{
    position: relative;
    width: 265px;
    height: 165px;
    left: 120px;
    top: 200px;
    background: #28292d;
    border-radius: 8px;
    padding: 8px 30px;
    display: flex;
    flex-direction: column;

}

.payBox{
    display: none;
}

#datosTarjeta{
     display: none; 
}

#importeT{
    display: none; 
}

/*--------------Parte importe ------------------*/
.importe{
    color: #45f3ff;
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.importe h5{
    font-size: 0.79em;
    font-family: Verdana;
    margin-bottom: 30px;
}

.importe input{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

/*ya no se usa lo del focus y valid pq no tenenmos los required en html*/
.importe input:valid ~ span,
.importe input:focus ~ span{
    color: #45f3ff;
    transform: translateX(-0px) translateY(-34px);
    font-size: 0.75em;
}

/* movimiento de cajas */
.importe i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 2px;
    background: #45f3ff9e;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

/*ya no se usa lo del focus y valid pq no tenenmos los required en html*/
.importe input:valid ~ i,
.importe input:focus ~ i{
    height: 44px;
}

/*----------------parte tarjeta-----------------------------*/
.datosTarjeta{
    color: #45f3ff;
    position: relative;
    width: 300px;
    margin-top: 10px;
}

.datosTarjeta input::placeholder{
    color: black;
}

.datosTarjeta input{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 10px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

/*ya no se usa lo del focus y valid pq no tenenmos los required en html*/
.datosTarjeta input:valid ~ span,
.datosTarjeta input:focus ~ span{
    color: #45f3ff;
    transform: translateX(-0px) translateY(-34px);
    font-size: 0.75em;
}

/* movimiento de cajas */
.datosTarjeta i{
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 40px;
    background: #45f3ff9e;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

/*ya no se usa lo del focus y valid pq no tenenmos los required en html*/
.datosTarjeta input:valid ~ i,
.datosTarjeta input:focus ~ i{
    height: 40px;
}

#botonPagar{
    position: relative;
    left: 100px;
    bottom: 22px;
    margin-top: 0px;
}

#pagado{
    position: relative;
    right: 87px;
    bottom: 17px;
    color: #b0d12a;
}