.form{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas:
        "header  header header"
        "  .      main   .     "
        "footer footer footer";
}

.header{
    grid-area: header;
    display: grid;
    justify-content: center;
    align-content: center;   
    margin-bottom: 3%;
}

.main{
    grid-area: main;
    display: grid;
    align-content: center;   
    background-color: rgba(79, 99, 155, 0.525);
    padding: 5%;
    border-color: #4f4f4f;
    border-width: 1px;
    border-style: solid;
}

#datosTarjeta{
    display: none;
}

#importeT{
    display: none;
}

.main div {
    padding: 3%;

}

.footer{
    grid-area: footer;
    margin-top: 5%;
}

.articulos input{
    width: 60%;

}
.precioT input{
    width: 20%;
}


.imprimir{
    display: grid;
    justify-content: center;   
    
}

.restablecer{
    display: grid;
    justify-content: center;
    padding: 5%;
    
}

